<nav class="top-bar content-drawer">
		<a href="{{ site.baseurl }}/" class="push-left fa fa-home"></a>
		<a href="#" class="show-all hide-small hide-tiny right-drawer-trigger fa fa-reorder push-right align-left"><span class="sans uppercase">Menu</span>
		<a href="#" class="hide-all show-small show-tiny right-drawer-trigger fa fa-reorder push-right align-right"><span class="sans uppercase">Menu</span>
		</a>
	</div>
</nav>

<div class="right-drawer">
	<div class="avatar">
		<img src ="{{ site.baseurl }}/assets/avatar.jpg">
	</div>
	<ul class="items fw-300">
		<!-- Begin links to static pages. -->
		{% for page in site.pages %}
			{% if page.title %}
				<li>
					<a href="{{ page.url | prepend: site.baseurl }}">
						{% if page.fa %}
							<span class="fa fa-fw {{ page.fa }} quarter-right-space"></span>
						{% endif %}
						<span>{{ page.title }}</span></a>
				</li>
			{% endif %}
		{% endfor %}
		<!-- End links to static pages. -->

		<!-- Begin custom menu items.  (Keep in mind the space between the Font Awesome icon span and the text link span.) -->
		<li>
			<a href="https://github.com/va7sdf/va7sdf.github.io"><span class="fa fa-fw fa-github quarter-right-space"></span> <span>Source</span></a>
		</li>
		<li>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-fw fa-rss quarter-right-space"></span> <span>RSS</span></a>
		</li>
		<!-- End custom menu items. -->
	</ul>
</div>
