<nav class="top-bar content-drawer">
		<a href="{{ site.baseurl }}/" class="push-left fa fa-home"></a>
		<a href="#" class="right-drawer-trigger show-all hide-small hide-tiny push-right align-left fa fa-reorder"><span class="sans uppercase">Menu</span></a>
		<a href="#" class="right-drawer-trigger hide-all show-small show-tiny push-right align-right fa fa-reorder"><span class="sans uppercase">Menu</span></a>
</nav>

<div class="right-drawer">
	<div class="avatar">
		<img src ="{{ site.baseurl }}/assets/avatar.jpg">
	</div>
	<ul class="fw-300">
		<li>
			<a href="{{ site.baseurl }}/"><span class="fa fa-fw fa-home quarter-right-space"></span> <span>Home</span></a>
		</li>
		<!-- Begin links to static pages. -->
		{% for page in site.pages %}
			{% if page.title %}
				<li>
					<a href="{{ page.url | prepend: site.baseurl }}">
						{% if page.fa %}
							<span class="fa fa-fw {{ page.fa }} quarter-right-space"></span>
						{% endif %}
						<span>{{ page.title }}</span></a>
				</li>
			{% endif %}
		{% endfor %}
		<!-- End links to static pages. -->

		<!-- Begin custom menu items.  (Keep in mind the space between the Font Awesome icon span and the text link span.) -->
		{% if site.github_username %}
		<li>
			<a href="https://github.com/{{ site.github_username }}"><span class="fa fa-fw fa-github quarter-right-space"></span> <span>GitHub</span></a>
		</li>
		{% endif %}
		<li>
		{% if site.twitter_username %}
		<li>
			<a href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-fw fa-twitter quarter-right-space"></span> <span>Twitter</span></a>
		</li>
		{% endif %}
		{% if site.linkedin_username %}
		<li>
			<a href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="fa fa-fw fa-linkedin quarter-right-space"></span> <span>LinkedIn</span></a>
		</li>
		{% endif %}
		{% if site.rss == true%}
		<li>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-fw fa-rss quarter-right-space"></span> <span>RSS</span></a>
		</li>
		{% endif %}
		<!-- End custom menu items. -->
	</ul>
</div>
