<nav class="top-bar content-drawer">
	<div class="push-left align-left">
		<a href="{{ site.baseurl }}/" class="fa fa-home"></a>
	</div>
	<div class="push-right align-left">
		<a href="#" class="right-drawer-trigger fa fa-reorder">
			<span class="sans uppercase">Menu</span>
		</a>
	</div>
</nav>

<div class="right-drawer">
	<div class="avatar">
		<img src ="{{ site.baseurl }}/assets/avatar.jpg">
	</div>
	<ul class="items">
		{% for page in site.pages %}
			{% if page.title %}
				<li>
					<a href="{{ page.url | prepend: site.baseurl }}">
						{% if page.fa %}
							<span class="fa {{ page.fa }} quarter-right-space"></span>
						{% endif %}
						<span>{{ page.title }}</span></a>
				</li>
			{% endif %}
		{% endfor %}
		<li>
			<a href="https://github.com/va7sdf/va7sdf.github.io"><span class="fa fa-github quarter-right-space"></span><span>Source</span></a>
		</li>
		<li>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss quarter-right-space"></span><span>RSS</span></a>
		</li>
	</ul>
</div>
