<div id="top-nav">
	<nav class="ink-navigation ink-grid">
		<ul class="menu horizontal push-left medium-push-right small-push-right tiny-push-right">
			<li class="logoPlaceholder">
				<a class="logoPlaceholder" href="{{ site.baseurl }}/">{{ site.title }}</a>
			</li>
		</ul>
		<ul class="menu horizontal push-right hide-small hide-tiny hide-medium">
			{% for page in site.pages %}
				{% if page.title %}
					<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</div>
