// _default.scss

// FOOTER: controls the height of the 'sticky' footer
$FOOTER:			120px;

html {
	height: 100%;
	body {
		color: $GRAY33;
		background: $GRAY85;
		font-size: 18px;
		height: 100%;
	}
}

.push-header {
	margin-top: 2.36em; // 1 + .68x2 (the padding of the menu items)
}

.push-footer,
footer {
	height: $FOOTER;
	margin-top: 0;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (0 - $FOOTER);
	overflow: auto;
}
