// _ink-navigation.scss

.top-bar .right-drawer-trigger {
	width: 220px;
}

.avatar img {
	border: 2px solid $ACCENT;
	margin: 40px;
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	width: 140px;
	height: 140px;
}

.top-bar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	border-bottom: 5px $ACCENT solid;
	background: $GRAY13;
}

.top-bar a {
	height: 100%;
	padding: .68em 1.28em;
	color: $GRAY85;
	text-decoration: none;
}

.top-bar a:hover {
	color: $WHITE;
	background: $GRAY24;
}

.top-bar a span {
	margin-left: .4em;
}

.right-drawer {
	margin-top: 2.36em; // 1 + .68x2 (the padding of the menu items)
	background: $GRAY24;
}

.right-drawer .items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.right-drawer .items li {
	margin: 0;
	border-bottom: 1px solid $GRAY24;
	text-transform: uppercase;
}

.right-drawer .items li a {
	display: block;
	color: $GRAY85;
	padding: .48em 1.28em;
	text-decoration: none;
}

.right-drawer .items li:hover {
	background: $GRAY13;
}

.right-drawer .items li:hover a {
	color: $WHITE;
}

a:hover span.fa{
	color: $ACCENT;
}
