// _ink-navigation.scss

.top-bar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	border-bottom: 5px $ACCENT solid;
	background: $GRAY13;
	
	.right-drawer-trigger {
		width: 220px;
	}
	
	a {
		height: 100%;
		padding: .68em 1.28em;
		color: $GRAY85;
		text-decoration: none;
			
		&:hover {
			color: $WHITE;
			background: $GRAY24;
		}
		
		span {
			margin-left: .4em;
		}
	}
}

.avatar img {
	border: 2px solid $ACCENT;
	margin: 40px;
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	width: 140px;
	height: 140px;
}

 // 1 + .68x2 (the padding of the menu items)
.right-drawer {
	margin-top: 2.36em;
	background: $GRAY24;
	
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		li {
			margin: 0;		
			&:first-child {
					border-top: 1px solid $GRAY33;
			}
			a {
				display: block;
				color: $GRAY85;
				border-bottom: 1px solid $GRAY33;
				text-transform: uppercase;
				padding: .48em 1.28em;
				text-decoration: none;
		
				&:hover {
					background: $GRAY13;
					color: $WHITE;
				}
			}
		}
	}
}
