---
layout: default
---
<div class="column-group gutters push-center">
	<div class="all-80 small-100 tiny-100">
		<div class="post half-padding">

			<header class="post-header bottom-space">
				<h1 class="post-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
				{% if page.subtitle %}
					<h2 class="post-subtitle fw-300">{{ page.subtitle }}</h2>
				{% endif %}

				<div class="post-meta condensed-300 small">
					{% if page.author %}
						<span class="fa fa-user"></span><span class="post-author">{{ page.author }}</span>
						<br class="hide-all show-small show-tiny" />
					{% endif %}
					<span class="fa fa-clock-o"></span><span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
			</header>

			<article class="post-content">
				{{ content }}
			</article>

			<div class="post-nav top-space">
				{% if page.previous.url %}
				<div class="post-previous push-left half-top-padding">
					<a href="{{ page.previous.url | prepend: site.baseurl }}">
						<span class="fa fa-arrow-left quarter-right-space"></span>
						<span class="show-all hide-small hide-tiny sans uppercase">{{ page.previous.title }}</span>
						<span class="hide-all show-small show-tiny sans uppercase">Previous</span>
					</a>
				</div>
				{% endif %}
				{% if page.next.url %}
				<div class="post-next push-right half-top-padding">
					<a href="{{ page.next.url | prepend: site.baseurl }}">
						<span class="show-all hide-small hide-tiny sans uppercase">{{ page.next.title }}</span>
						<span class="hide-all show-small show-tiny sans uppercase">Next</span>
						<span class="fa fa-arrow-right quarter-left-space"></span>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
